@import "tailwindcss";
@import "../styles/common.scss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 버튼 */
.btn{
  padding:10px;
  border-radius:8px;
  background:#ccc;
  font-weight:bold;
  cursor:pointer;
}

.btn.blue{
  background:#9bafe7;
}

.btn.red{
  background:#f38db7;
}

.btn.green{
  background:#79cc84;
}

/* 팝업 */
.btn_pop_wrap{
  position:relative;
}

.btn_pop_wrap .btn{
  display:inline-block;
}

.pop_wrap{
  position:fixed;
  left:50%;
  top:50%;
  min-width:350px;
  border:1px solid #e1e1e1;
  border-radius:20px;
  background:#fefefe;
  transform:translate(-50%, -50%);
}

.bottom .pop_wrap{
  position:absolute;
  left:0;
  top:unset;
  transform:unset;
}

.pop_wrap .pop_header{
  padding:10px;
  text-align:right;
}

.pop_wrap .pop_content{
  overflow-y:auto;
  max-height:500px;
  padding:15px;
}

.pop_wrap .pop_content .tit{
  font-size:20px;
  font-weight:bold;
  text-align:center;
}

.pop_wrap .pop_content .desc{
  font-size:15px;
}

.pop_wrap .pop_footer{
  display:flex;
  justify-content:flex-end;
  gap:10px;
  padding:10px;
}

/* 토스트 팝업 */
.toast_popup{
  z-index:100;
  position:fixed;
  left:0;
  top:0;
  display:flex;
  align-items:center;
  padding:5px 10px 5px 15px;
  border-radius:10px;
  background:#c0d1f3;
}

.toast_popup .btn{
  padding:5px;
  background:#c0d1f3;
}

/* 가이드 */
.guide_wrap{
  height:100vh;
  padding:15px;
  background:#f7f7f7;
}

.g_tit{
  font-size:20px;
  font-weight:bold;
}

.g_subtit{
  padding:20px 0 10px;
  font-size:15px;
}

.g_list{
  padding-top:20px;;
}