* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f8f9fa;
    color: #212529;
}

/* 탭 */
.tab_box button{padding:10px;border-radius:8px;background:#eee;cursor:pointer;}
.tab_box button.active{background:#e0e0e0;font-weight:bold;}
.tab_box button + button{margin-left:3px;}